export("%>%")
exportPattern("^[[:alpha:]]+")
import(methods)
exportClasses(Datasettorep)
exportClasses(Bibliodata)
export(get_counts)
export(get_metadata)
export(getstattest)
export(getcolcond)
export(getcolsignificativity)
export(getconv_df)
export(getsignificativity_symbols)
export("setcolsignificativity<-")
export("setsignificativity_symbols<-")
export(vlnplot_dataset)
export(pheatmap_dataset)
export(get_specific_datasettorep)
export(subset_bibliodata)
export(launchShiny_dashboard)
exportMethods(get_counts)
exportMethods(get_metadata)
exportMethods(getstattest)
exportMethods(getcolcond)
exportMethods(getcolsignificativity)
exportMethods(getconv_df)
exportMethods(getsignificativity_symbols)
exportMethods("setcolsignificativity<-")
exportMethods("setsignificativity_symbols<-")
exportMethods(get_specific_datasettorep)
exportMethods(subset_bibliodata)
export(GTF_ensembl_to_conv_df)
importFrom(RColorBrewer,brewer.pal)
importFrom(rtracklayer,import)
importFrom("utils", "combn", "head", "read.table", "str")
importFrom("R.utils","withTimeout")
importFrom(rlang,is_empty)
importFrom(purrr,pmap,keep,set_names)
importFrom(ggplot2,ggplot,aes_string,theme_classic,geom_violin,geom_boxplot,ggtitle,theme,geom_dotplot,stat_summary,xlab,ylab,scale_fill_manual,element_text)
importFrom(ggsignif,geom_signif)
importFrom(stats,symnum,aggregate)
importFrom(pheatmap,pheatmap)
importFrom(shiny,tags,titlePanel,sidebarLayout,sidebarPanel,req,helpText,selectInput,textInput,uiOutput,conditionalPanel,numericInput,actionButton,textOutput,fluidPage,mainPanel,observeEvent,updateSelectInput,eventReactive,renderText,renderUI,HTML,shinyApp)
importFrom(shinydashboard,dashboardPage,dashboardHeader,dashboardSidebar,sidebarMenu,menuItem,dashboardBody,tabItems,tabItem)
importFrom("grDevices", "colorRampPalette", "dev.off", "pdf")
importFrom(readr,read_rds)
importFrom(magrittr,"%>%")




